.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  padding: 1.5rem;
  gap: 2rem;

  width: 100%;
  height: fit-content;

  transition: all 0.2s ease-in;

  .socialMediaIcons {
    display: none;

    gap: 2.5rem;

    width: fit-content;
    height: fit-content;

    a {
      svg {
        color: var(--gray-500);
        transition: all 0.2s ease-in;

        height: 1.5rem;
        width: 1.5rem;
      }
    }

    a:hover,
    a:focus-visible {
      svg {
        color: var(--green-500);
      }
    }

    @media screen and (max-width: 768px) {
      display: flex;
    }
  }

  span {
    font-weight: 500;
    font-size: 1rem;
    line-height: 140%;

    color: var(--gray-500);
  }
}
