@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

:root {
  --white: #fff;
  --black: #000;

  --green-500: #27ae60;

  --gray-100: #171717;
  --gray-200: #212121;
  --gray-300: #4f4f4f;
  --gray-500: #828282;

  --gray-100-80: #171717cc;
  --gray-200-80: #212121cc;
  --gray-300-80: #4f4f4fcc;
  --gray-300-20: #4f4f4f33;
  --gray-500-80: #828282cc;
}

html,
body {
  overflow-x: hidden;
}

body {
  background: var(--gray-100);

  width: 100vw;

  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: -ms-autohiding-scrollbar;

  &::-webkit-scrollbar {
    width: 5px;
  }

  &::-webkit-scrollbar-track {
    background: transparent;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 3px;
    background-color: #555;
  }

  &::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
}

body,
input,
textarea,
button {
  font-family: 'DM Sans', sans-serif;
  color: var(--white);
}

button {
  border: none;
  cursor: pointer;

  background-color: transparent;
}

a,
a:active,
a:visited,
a:hover,
a:focus {
  text-decoration: none;
  color: var(--white);
}
