* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

:root {
  --white: #fff;
  --black: #000;

  --green-500: #27ae60;

  --gray-100: #171717;
  --gray-200: #212121;
  --gray-300: #4f4f4f;
  --gray-500: #828282;
}

body {
  background: var(--gray-100);

  width: 100vw;
  overflow-x: hidden;
}

body,
input,
textarea,
button {
  font-family: 'DM Sans', sans-serif;
  color: var(--white);
}

button {
  border: none;
  cursor: pointer;

  background-color: transparent;
}

a,
a:active,
a:visited,
a:hover,
a:focus {
  text-decoration: none;
  color: var(--white);
}
