.container {
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 100%;

  gap: 2rem;

  margin: 5vh 0;

  .userData {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    width: fit-content;
    height: fit-content;

    gap: 2.5rem;

    .dataGroup {
      display: flex;
      flex-direction: column;
      align-items: flex-start;

      gap: 0.5rem;

      h1 {
        font-weight: 700;
        font-size: 2.25rem;
        line-height: 150%;
      }

      span {
        font-weight: 400;
        font-size: 1.125rem;
        line-height: 150%;

        color: var(--gray-500);
      }
    }

    .buttonsGroup {
      display: flex;
      justify-content: center;
      align-items: center;

      gap: 1.5rem;
    }
  }

  .userImage {
    display: flex;
    align-items: center;

    width: fit-content;
    height: fit-content;

    padding: 1rem;

    border-radius: 50%;

    background: var(--gray-200);

    border: 1px solid var(--green-500);

    img {
      width: 35vw;
      height: 35vw;

      max-width: 800px;
      max-height: 800px;

      border-radius: 50%;
    }
  }

  @media screen and (max-width: 768px) {
    flex-direction: column;

    .userData {
      width: 80%;

      .dataGroup {
        h1 {
          font-size: 1.75rem;
        }

        span {
          font-size: 1rem;
        }
      }

      .buttonsGroup {
        width: 100%;
      }
    }

    .userImage {
      width: 80%;
      margin-top: 2rem;

      img {
        width: 100%;
        height: 100%;
      }
    }
  }

  @media screen and (max-width: 450px) {
    flex-direction: column;
    align-items: center;

    .userData {
      width: 100%;

      .dataGroup {
        h1 {
          font-size: 1.5rem;
        }
      }

      .buttonsGroup {
        width: 100%;

        flex-direction: column;
        align-items: center;
      }
    }

    .userImage {
      width: 100%;
    }
  }
}
